<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Feuille de Match</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="home">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="team-list">Créer une feuille de match</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="player-creation">Ajouter un joueur</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
    </ul>
  </div>
</nav>
